html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
  width: 25em;
  margin: 0 auto;
  padding: 0.5em 0;

  height: 100vh;

  background-color: lightblue;
  text-align: center;
}
h1{
  font-family: impact;
}

button {
  font-size: 24px;
  font-family: monospace;
}

img {
  max-width: 60%;
  border-radius: 50%;
}
ul{
  list-style-type: none;
}
.Button{
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.Button:hover {background-color: #3e8e41}

.Button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
